body {
    background: url("../images/rf-online-1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 200px;
}



.homepage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}


.jumbotron {
    background-color: transparent;
}

.jumbotron h1,
p {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 30px;
}



h2 {
    font-weight: bold;
    letter-spacing: 2px;
    color: #fafafa;
}


.img-thumbnail {
    height: 200px;
    width: 350px;
    object-fit: cover;
}

.form-change {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 2px 3px 14px white;
}

.form-head {
    margin: 0;
}

.form-view {
    margin-top: 10em;
}

.page-header {
    margin-top: 10em;
    letter-spacing: 2px;
}

.page-main {
    margin-top: 30px;
}




@media screen and (max-width: 600px)